@font-face {
  font-family: 'Makina';
  src: url('/fonts/29L-Makina-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Makina-Light';
  src: url('/fonts/29L-Makina-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Sora';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url('/fonts/Sora-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Rosario';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url('/fonts/Rosario-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Finlandica';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url('/fonts/Finlandica-VariableFont_wght.woff2') format('woff2');
}

