/**********************************************************************
 *
 * Mappalink main stylesheet
 *
 * Contents
 * ========
 * - Vars
 * - Override defaults
 * - General
 * - Homepage
 * - About
 * - Producs
 *
 ***********************************************************************/

/*---------------------------------------------------------------------
 * Vars
 *---------------------------------------------------------------------*/

:root {
    --ml-logo-font-family: "Makina", sans-serif;
    --ml-sublogo-font-family: "Makina-Light", sans-serif;
    --ml-header-font-family: "Makina", sans-serif;
    --ml-head-font-size: 2.2em;
    --ml-subhead-font-size: 1.25em;
    --ml-subsubhead-font-size: 1.15em;
    --ml-max-width-docs: 800px;
    --ml-text-font-size: 20px;
    --ml-var-font-size: 1em;
    --ml-carousel-size: 250px;
    --ml-carousel-width:  var(--ml-carousel-size, 250px);
    --ml-carousel-height: var(--ml-carousel-size, 250px);
    --header-font-size: 30px;
    --link-box-width: 350px;
    --link-box-font-size: 1.3em;
}

@media only screen and (min-width: 500px) {
    :root {
        --ml-var-font-size: 1.3em;
        --ml-head-font-size: 2.2em;
        --ml-subhead-font-size: 1.6em;
        --ml-subsubhead-font-size: 1.35em;
        --ml-carousel-size: 350px;
        --link-box-width: 400px;
    }
}

@media only screen and (min-width: 700px) {
    :root {
        --ml-carousel-size: 500px;
        --link-box-width: 450px;
        --link-box-font-size: 1.4em;
    }
}

@media only screen and (min-width: 824px) {
    :root {
    }
}

@media only screen and (min-width: 1150px) {
    :root {
        --ml-carousel-size: 600px;
    }
}

@media only screen and (min-width: 1350px) {
    :root {
        --ml-carousel-size: 680px;
        --ml-var-font-size: 1em;
        --ml-head-font-size: 2.7em;
        --ml-subhead-font-size: 2em;
        --ml-subsubhead-font-size: 1.55em;
    }
}

@media only screen and (min-width: 1600px) {
    :root {
        --ml-var-font-size: 1em;
    }
}

@media only screen and (min-width: 1700px) {
    :root {
        --ml-var-font-size: 1.05em;
    }
}

@media only screen and (min-width: 1800px) {
    :root {
        --ml-var-font-size: 1.14em;
    }
}

/*---------------------------------------------------------------------
 * Override defaults
 *---------------------------------------------------------------------*/

rocket-content-area {
    height:100%;
}

/* header */
rocket-header {
    font-family: var(--ml-header-font-family);
}
rocket-header a {
    font-size: var(--header-font-size);
    font-weight: 400;
}

rocket-header a:hover {
    color: var(--primary-color-darker);
}


rocket-header a.logo-link span {
    font-size: 37px;
    font-weight: 500;
}

/* sidebars */
rocket-main-docs nav[data-type="index"] > ul > li > ul a {
    font-size: 17px;
    font-weight: 330;
}

rocket-main-docs nav[data-type="index"] > ul > li > ul .web-menu-current a {
    font-weight: 600;
}

rocket-main-docs nav {
    font-size: 17px;
    font-weight: 330;
}

rocket-main-docs nav[data-type="index"] > ul > li > span {
    font-size: 20px;
    font-family: var(--ml-header-font-family);
    text-transform: none;
}

aside[slot="toc"] h2 {
    font-size: 20px;
}


body,
.markdown-body {
    background-color:var(--primary-color);
    font-size: var(--ml-text-font-size);
    font-weight: 400;
    height:100%;
    position: relative;
    /*letter-spacing: 0.01em;*/
    /*font-stretch: 98%;*/
}

body::before {
    content: "";
    background-size: cover;
    position: absolute;
    height:100%;
    z-index: -1;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    /*background: url(test.jpg) center center;*/
    background-image: url("/background.jpg");
    /*background-image: url("/background2.jpg");*/
    /*-webkit-mask-image: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 300px, rgba(0,0,0,0.6) 600px, rgba(0,0,0,0.3) 90vh, rgba(0,0,0,0.15) 100vh, rgba(0,0,0,0.15) 100%);*/
    -webkit-mask-image: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 300px, rgba(0,0,0,0.4) 50vh, rgba(0,0,0,0.5) 80vh, rgba(0,0,0,0.5) 90vh, rgba(0,0,0,0.15) 100vh, rgba(0,0,0,0.15) 100%);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}

/*#body-container {*/
    /*opacity:0.5;*/
/*}*/


.markdown-body p strong,
body p strong {
    font-weight: 650;
}

.markdown-body p,
body p {
    line-height: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.markdown-body inline-notification,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    /*font-family: var(--ml-header-font-family);*/
    /*font-weight: 650;*/
}

.markdown-body inline-notification :not(h1 h2 h3 h4 h5 h6) {
    font-family: var(--primary-font-family);
}

h1,
.markdown-body h1 {
    font-size: 1.95em;
}
h2,
.markdown-body h2 {
    font-size: 1.5em;
}
h3,
.markdown-body h3 {
    font-size: 1.20em;
}

.markdown-body .content-footer {
    display: none;
}

/* iOS fix for blue burger menu */
rocket-drawer,
button.burger-menu {
    /*color: var(--primary-color);*/
}


/*---------------------------------------------------------------------
 * General
 *---------------------------------------------------------------------*/

.ml-container-flexcol-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*text-align: center;*/
}

.ml-flexcol-item {
    max-width: 1400px;
    width: 70%;
    overflow: hidden;
}

.ml-container-flexrow-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    overflow: hidden;
}

.ml-flexrow-reverse {
    flex-direction: row-reverse;
}

.ml-flexrow-item {
    overflow: hidden;
}

.ml-flexrow-item.ml-flexrow-100,
.ml-flexrow-100 .ml-flexrow-item {
    width:100%;
}

.ml-flexrow-item img {
    width: 100%;
}

.rounded {
    border-radius: 20px;
}

.rounded-uneven {
    border-radius: 20px 80px;
}

.ml-page-main-title {
    font-size: 3.5em;
    padding: 1em 0 0 0;
    line-height: 1em;
}

@media only screen and (max-width: 1300px) {
    .ml-container-flexrow-center {
        flex-flow: row wrap;
        gap: 10px;
    }
    .ml-page-main-title {
        font-size: 2.5em;
    }
    .ml-flexcol-item {
        max-width: 1400px;
        width: 90%;
        overflow: unset;
    }
}

/*body a {*/
    /*color: var(--primary-text-color);*/
    /*text-decoration-thickness: 2px;*/
    /*text-decoration-color: var(--primary-color);*/
/*}*/
/*body a:hover {*/
    /*color: var(--primary-color-darker);*/
/*}*/

a.link-box {
    text-decoration: none;
    color: var(--primary-text-color);
    width:var(--link-box-width);;
}

a.link-box:hover {
    /*background-color: rgba(206, 229, 246, 0.8);*/
    background-color: var(--primary-color);
}

.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}

.ml-head {
    font-size: var(--ml-head-font-size);
    line-height: 1.2em;
    font-weight: 650;
    padding: 1em 0;
}

.ml-subhead {
    font-size: var(--ml-subhead-font-size);
    line-height: 1.2em;
    font-weight: 600;
    padding: 0.5em 0;
}

.ml-subsubhead {
    font-size: var(--ml-subsubhead-font-size);
    line-height: 1.2em;
    font-weight: 550;
    padding: 0.5em 0;
}

.ml-head-item {
    display: block;
}

.ml-lighter,
.ml-lighter a {
    color: var(--primary-color-lighter);
}

p a {
    color:inherit;
}

/*---------------------------------------------------------------------
 * Homepage
 *---------------------------------------------------------------------*/

#ml-title-meta-container {
    /*width:100%;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    justify-content: flex-start;
    text-align: center;
    padding: 150px 0 150px 0;
    height:100vh;
    margin: 0;
    --ml-title-font-size: 120px;
    /*--ml-title-font-scale: 1;*/
    --ml-title-font-scale: 1.20;
}

#ml-subtitle-container {
    display: flex;
    flex-direction: row;
    line-height: 1em;
    justify-content: center;
}

#ml-title {
    margin: 0;
    margin-top:35px;
    font-family: var(--ml-logo-font-family);
    font-weight:400;
    line-height:0.75em;
    font-size: calc(var(--ml-title-font-scale) * var(--ml-title-font-size));
}

#ml-subtitle {
    line-height:1em;
    font-family: var(--ml-sublogo-font-family);
    font-weight:500;
    text-shadow: 1px 1px var(--primary-color-darker);
    font-size: calc(
        0.28 * var(--ml-title-font-scale) * var(--ml-title-font-size)
    );
}

#ml-subtitle a {
    text-decoration:none;
    color:var(--primary-text-color);
}

#ml-subtitle a:hover {
    color:var(--primary-color-darker);
}

#ml-subtitle.with-logo {
    /*padding-left: 2px;*/
    margin-top: 40px;
}

/* no-logo*/
#ml-subtitle.no-logo {
    margin-left: 150px;
    margin-top: 42px;
}

#ml-title-link {
    color: var(--primary-color-darker);
}

@media only screen and (max-width: 1200px) {
    video#ml-demo {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    #ml-title-meta-container {
        --ml-title-font-scale: 0.9;
        padding: 70px 0 100px 0;
    }
    #ml-logo {
        width: calc(var(--ml-title-font-scale) * 100px);
        margin-top: -12px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #ml-subtitle.with-logo {
        /*padding-left: 3px;*/
        margin-top: 4px;
    }
    video#ml-demo {
        width: 90%;
    }
}

a.btn-down {
    line-height:1.4em;
    top:80vh;
    left:0;
    right:0;
    width:280px;
    position:absolute;
    display:block;
    font-size:16px;
    text-decoration:none;
    text-align:center;
    margin:0 auto;
    /*color:var(--primary-text-color);*/
    color:rgba(255, 255, 255, 0.8);
    padding:0.5em;
    border-radius:10px;
    background-color:var(--primary-color-darker-opac);
    /*border:2px solid var(--primary-text-color);*/
}

a.btn-down:hover {
    background-color:var(--primary-color-darker);
}


@media only screen and (min-width: 500px) {
    a.btn-down {
        width:300px;
        font-size:20px;
    }
}

form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin: -1.5rem 0 2rem -1.5rem;
}

form > .fields > .field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5rem);
}

form > .fields > .field.half {
    width: calc(50% - 0.75rem);
}

form > .fields > .field.third {
    width: calc(100%/3 - 0.5rem);
}

form > .fields > .field.quarter {
    width: calc(25% - 0.375rem);
}

@media screen and (max-width: 480px) {
    form > .fields {
        width: calc(100% + 3rem);
        margin: -1.5rem 0 2rem -1.5rem;
    }

    form > .fields > .field {
        padding: 1.5rem 0 0 1.5rem;
        width: calc(100% - 1.5rem);
    }

    form > .fields > .field.half {
        width: calc(100% - 1.5rem);
    }

    form > .fields > .field.third {
        width: calc(100% - 1.5rem);
    }

    form > .fields > .field.quarter {
        width: calc(100% - 1.5rem);
    }

}

label {
    /*color: #ffffff;*/
    color: var(--primary-text-color);
    display: block;
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1.5em;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: solid 2px var(--primary-text-color);
    /*color: inherit;*/
    display: block;
    outline: 0;
    padding: 0.5em 1rem;
    text-decoration: none;
    width: 100%;
    font-size:1em;
    cursor:pointer;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    background: rgba(255, 255, 255, 0.15);
    border-width: 2px;
    /*border-color: var(--primary-color-op);*/
    /*box-shadow: 0 0 0 1px var(--primary-color);*/
}

select,
select:focus {
    background-image: url("/dropdown.svg");
    background-position: right 2% bottom 50%;
    background-repeat: no-repeat;
    background-size: 3%;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 2px var(--primary-text-color);
    color: var(--primary-text-color);
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    height: 2.75rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    margin: 0 0 0 0.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(255, 255, 255, 0.175);
}


/*---------------------------------------------------------------------
 * About
 *---------------------------------------------------------------------*/

#about p {
    margin: 20px 0px;
}

#about-ml {
    margin-top: 20vh;
}

#about-ml p:first-child {
    margin: 10px 0px;
}

#about-ml img {
    height: 550px;
    /*width:auto;*/
    object-fit:cover;
}

#about-ml #img-about-lisa {
    opacity:0.7;
}

.about-text {
    font-weight: 420;
    line-height: 1.5em;
    font-size: var(--ml-var-font-size);
}

/* products */

#product-boxes,
#about-products {
    margin-top: 3em;
}

.link-box .ml-flexcol-item {
    width: 100%;
}

.link-box .ml-flexrow-item {
    max-width: 400px;
    box-shadow: var(--primary-text-color) 0.2em 0.2em 0.4em;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0;
    background-color:var(--primary-color-darker-opac2);
}

.link-box-text {
    font-size: var(--link-box-font-size);
    font-weight: 350;
    line-height: 1.5em;
    padding: 0em 0;
    height:3.5em;
}

.link-box-text a {
    text-decoration:none;
    color:var(--primary-text-color);
}

.link-box-text a:hover {
    color:var(--primary-color-darker);
}

.img-box {
    padding: 0em;
}

.img-box img {
    object-fit:cover;
    height: 250px;
}

@media only screen and (min-width: 824px) {
    #product-boxes.ml-container-flexrow-center,
    #about-products.ml-container-flexrow-center {
        margin-top: 100px;
        justify-content: space-evenly;
    }
    .link-box .ml-flexrow-item {
        margin: 1em;
    }
    .img-box {
        padding: 0em;
    }
    .img-box img {
        height: 350px;
    }
}


/*---------------------------------------------------------------------
 * Contact
 *---------------------------------------------------------------------*/

#contact .ml-container-flexrow-center {
    justify-content: flex-start;
}
#contact .ml-flexrow-item {
    max-width: 100%;
    width: unset;
    min-width: 350px;
    padding-left: 3px;
    gap: -20px;
}

#contact p {
    margin: 0.4em 0;
}

#contact img {
    width: 1em;
    display: none;
}

@media only screen and (min-width: 1024px) {
    #contact .ml-flexrow-item {
        width: 400px;
    }
    #contact img {
        display: inline;
        padding-left: 10px;
    }
}

#about #contact-form {
    padding:1em;
    background-color:var(--primary-color-opac2);
    border-radius:10px;
}

/*---------------------------------------------------------------------
 * Products
 *---------------------------------------------------------------------*/

#products {
    /*font-size: 0.9em;*/
}


#products dd-carousel {
    --slide-width: 550px;
    --slide-height: 550px;
    margin: 1.5em 0;
}

.ml-products-flexrow {
    align-items:center;
}
.ml-products-flexrow .ml-flexrow-item {
    overflow:visible;
    flex-grow:0;
}
.ml-products-flexgrow {
    flex-grow:1;
}

@media only screen and (min-width: 1024px) {
    #ml-products-head  {
        font-size:1.5em;
        height:85vh;
    }
}

ml-rotating-text {
    height:1.2em;
}

ml-rotating-text#rotating-first::before {
    content: "We\00a0";
}

#ml-products-head a {
    text-decoration:none;
    padding:0;
    margin:0;
}

#ml-products-head a:hover .ml-lighter {
    color: var(--primary-color-lighter-opac);
}

.ml-product-subhead {
    margin:-1.5em 0 1em 0;
}

.ml-head-item.ml-container-flexrow-center {
}

.ml-head-item .ml-flexrow-item {
    max-height:1em;
}

#products-more-info {
    margin-top:4em;
    font-size:1.2em;
}

/*---------------------------------------------------------------------
 * Footer
 *---------------------------------------------------------------------*/

#footer-menu {
    /*justify-content:space-evenly;*/
    justify-content: space-around;
    /*color: var(--primary-text-inverse-color);*/
    color: var(--primary-text-inverse-color);
}

@media only screen and (min-width: 1024px) {
    #footer-menu {
        /*gap:100px;*/
    }
}

#footer-menu nav {
    padding: 0 0;
}

#footer-menu nav h3 {
    font-weight:550;
}



#footer-disco-images a {
    display:inline-block;
    margin:0;
    padding:0;
}

.footer-disco-img {
    margin-top:-0.8em;
    width: 2em;
    padding: 0.6em 0.2em;
}

#footer-menu p {
    margin: 0.5em 0;
}
#footer-menu a {
    color: var(--primary-text-inverse-color);
}


/*---------------------------------------------------------------------
 * Blog
 *---------------------------------------------------------------------*/

main.blog-content {
    max-width: var(--ml-max-width-docs);
}

.ml-head,
.ml-subhead {
    margin:0;
    padding:15px 0;
}

#blog-overview {
    margin-top:3em;
}


launch-blog-details  {
    --launch-blog-details-header-font: var(--ml-header-font-family);
}


main.blog-content dd-carousel {
    width:98%;
    height:400px;
}

@media only screen and (min-width: 500px) {
    main.blog-content dd-carousel {
        height:450px;
        max-width:450px;
    }
}

@media only screen and (min-width: 650px) {
    main.blog-content dd-carousel {
        height:600px;
        max-width:700px;
    }
}

/*---------------------------------------------------------------------
 * Right sidebar
 *---------------------------------------------------------------------*/

aside[slot=toc] {
    font-size:0.95em;
}
nav[aria-label="Table of Contents"] {
    /*margin-top:1.5em;*/
}

nav[data-type='toc'] ol a,
nav[data-type='toc'] ol ol a {
    padding: 4px 0 4px 15px;
    color: var(--primary-text-color);
    opacity:0.75;
    border-left: 2px solid rgba(0,0,0,0.3);
}

nav[data-type='toc'] ol ol a {
    margin-left: -15px;
    padding-left: 35px;
}

nav[data-type='toc'] a:hover {
    color: var(--primary-color);
}

.markdown-body a:not([href]){
  scroll-margin-top: 7em;
}

aside[slot='toc'] a.active {
    opacity:1;
    font-weight:440;
    border-left: 2px solid var(--primary-color);
}

/*---------------------------------------------------------------------
 * Winkel
 *---------------------------------------------------------------------*/

#winkel {
    min-height:50vh;
}

#winkel p {
    font-weight:500;
    font-size:1.2em;
    line-height:1.3em;
}

#winkel #binnenkort {
    border-radius:10px;
    padding:2em;
    background-color:var(--primary-color-opac);
}

@media only screen and (min-width: 500px) {
    #winkel #binnenkort {
        max-width:50%;
    }
}


/*---------------------------------------------------------------------
 * Bedankt
 *---------------------------------------------------------------------*/

#bedankt #bericht {
    line-height:1em;
    padding:1em;
    background-color:var(--primary-color-opac2);
    border-radius:10px;
}
