body::before {
    background-image: url("/background2.jpg");
    /*-webkit-mask-image: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 300px, rgba(0,0,0,0.6) 600px, rgba(0,0,0,0.3) 90vh, rgba(0,0,0,0.15) 100vh, rgba(0,0,0,0.15) 100%);*/
    -webkit-mask-image: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 200px, rgba(0,0,0,0.9) 40vh, rgba(0,0,0,0.7) 60vh, rgba(0,0,0,0.3) 75vh, rgba(0,0,0,0.15) 100vh, rgba(0,0,0,0.15) 100%);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}
