html {
  --oxford-blue: #0A122A;
  --desert-sand: #D5B59C;   /*213, 181, 156*/
  --caput-mortuum: #5D281D;

  /*--primary-color: #e63946;*/
  --primary-color: var(--desert-sand); /*#D5B59C*/
  --primary-color-opac: rgba(213, 181, 156, 0.5);
  --primary-color-opac2: rgba(213, 181, 156, 0.8);
  --primary-color-lighter: #67597A;
  --primary-color-lighter-opac: rgba(12, 115, 233, 0.8);
  --primary-color-darker: var(--caput-mortuum);
  --primary-color-darker-opac: rgba(93, 40, 29, 0.6);
  --primary-color-darker-opac2: rgba(93, 40, 29, 0.4);
  --primary-color-accent: #CBFF8C;
  /*--primary-text-color: black;*/
  /*--primary-text-color: var(--oxford-blue);*/
  --primary-text-color: var(--oxford-blue);
  --primary-lines-color: #ccc;
  --primary-text-inverse-color: #eee;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: white;
  --footer-background: var(--primary-color-darker);

  /* typography */
  --text-color: black;
  --text-color-lighter: rgba(255, 255, 255, 1);
  /*--primary-font-family: 'Rubik', sans-serif;*/
  /*--primary-font-family: 'Sora', sans-serif;*/
  --primary-font-family: 'Rosario', sans-serif;
  /*--primary-font-family: 'Finlandica', sans-serif;*/
  --secondary-font-family: 'Montserrat', sans-serif;
  --monospace-font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;

  /* controls */
  --switch-unselected-color: #808080;
  --switch-selected-color: #42b983;
}

html.dark {
  --primary-color: #e63946;
  --primary-color-lighter: #e25761;
  --primary-color-darker: #a22831;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #eee;
  --primary-text-inverse-color: #2c3e50;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: #333;
  --footer-background: #b1d4fb;

  /* typography */
  --text-color: white;

  /* controls */
  --switch-unselected-color: #808080;
  --switch-selected-color: #42b983;

  /* markdown */
  --markdown-octicon-link: white;
  --markdown-syntax-background-color: #a0a0a0;
  --markdown-link-color: #fb7881;
  --markdown-blockquote-color: #c9e3ff;
}
